<h1 style="color:blue;">Login de Usuario</h1>
<br>
<form action="/authentication">
    <div class="form-group">
        <label for="loginName"><b>Ingrese su nombre</b></label>
        <input id="loginName" class="form-control" type="text" name="loginName">
    </div>
    <button class="btn btn-success mt-3 mb-3" >Enviar</button>
</form>
